{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ request.resolver_match.url_name }}</title>
    <link rel="icon" href="{% static 'patienthistory/img/outline_archive_white_24dp.png' %}" type="image/gif"
          sizes="20x20">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="{% static 'patienthistory/style.css' %}">
    <script src="{% static 'patienthistory/js.js' %}"></script>
</head>
{% if request.resolver_match.url_name == 'home' %}
    <body>
{% else %}
    <body style="background: rgb(184,194,241);
background: linear-gradient(90deg, rgba(184,194,241,1) 0%, rgba(246,246,246,0.9808298319327731) 50%, rgba(184,193,235,1) 100%);">
{% endif %}
<div style="min-height: 100%; margin-bottom: -100px;">
    <nav class="navbar " style="background: rgba(255,255,255,0.4);">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'home' %}">
                <i class="material-icons" style="font-size:48px;">archive</i><b>Archive</b>
            </a>

            <a class="navbar-item is-hidden-desktop" href="https://github.com/jgthms/bulma" target="_blank">
      <span class="icon" style="color: #333;">
        <i class="fa fa-github"></i>
      </span>
            </a>

            <a class="navbar-item is-hidden-desktop" href="https://twitter.com/jgthms" target="_blank">
      <span class="icon" style="color: #55acee;">
        <i class="fa fa-twitter"></i>
      </span>
            </a>

            <div class="navbar-burger burger" data-target="navMenubd-example">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div id="navMenubd-example" class="navbar-menu">
            <div class="navbar-start">
                <div class="navbar-start">
                    <a class="navbar-item" href="{% url 'home' %}">
                        Home
                    </a>

                    <a class="navbar-item" href="{% url 'patientList' %}">
                        Patient List
                    </a>

                    <a class="navbar-item" href="{% url 'searchPatientByName' %}">
                        Search Patient
                    </a>

                </div>

            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field is-grouped">
                        <p class="control">
                            <a href="{% url 'logout' %}" class="bd-tw-button button is-danger is-outlined">
                                <strong>Log Out</strong>
                            </a>

                        </p>
                        {% if request.resolver_match.url_name == 'patientHist' %}
                            <p class="control ">
                                <a href="{% url 'patientHistadd' username.id %}"
                                   class="bd-tw-button button is-primary is-outlined">
                                    <strong>Add Prescription</strong>
                                </a>

                            </p>
                        {% endif %}
                        <p class="control ">
                            <a href="{% url 'addPatient' %}" class="button is-info is-outlined">
                                <strong>Add New Patient</strong>
                            </a>

                        </p>


                    </div>
                </div>
            </div>
        </div>
    </nav>

    {% if messages %}
        {% for message in messages %}
            <div class="notification is-success" style="margin: 0px;!important;">
                <span class="delete" onclick="this.parentElement.style.display='none';">&times;</span>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% block content %}{% endblock %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    </body>

</html>