{% extends 'patienthistory/base.html' %}

{% block content %}

    <section class="section">
        <div class="container">
            <div class="columns is-mobile has-text-centered">
                <div class="column is-half is-offset-one-quarter">
                    <div class="card">

                        <h3 class="title is-3">write your Prescriptions</h3>

                        <div class="card-content">


                            <form method="post" action="" role="form">
                                {% csrf_token %}
                                <div class="field">
                                    <p class="control has-icons-left">
                                        <label class="label is-medium">Prescription :</label>
                                        {{ form.Prescription }}
                                        <span class="icon is-small is-left">
                                      <i class="fas fa-lock"></i>
                                    </span>
                                    </p>
                                </div>
                                <div class="field">
                                    <p class="control has-icons-left">
                                        <label class="label is-medium">Description :</label>
                                        {{ form.Description }}
                                        <span class="icon is-small is-left">
                                      <i class="fas fa-lock"></i>
                                    </span>
                                    </p>
                                </div>
                                <div class="field">
                                    <p class="control has-icons-left">
                                        <label class="label is-medium">nextVisit :</label>
                                        {{ form.nextVisit }}
                                        <span class="icon is-small is-left">
                                      <i class="fas fa-lock"></i>
                                    </span>
                                    </p>
                                </div>
                                <div class="field">
                                    <p class="control has-icons-left">
                                        <label class="label is-medium">picture :</label>
                                        {{ form.picture }}
                                        <span class="icon is-small is-left">
                                      <i class="fas fa-lock"></i>
                                    </span>
                                    </p>
                                </div>

                                <div class="row">
                                    <div class="col s12">
                                        <span style="color: red; font-weight: bold;">{{ form.errors }}</span>
                                    </div>
                                </div>
                                <div class="field">
                                    <p class="control">
                                        <button type="submit" name="action" class="button is-success">
                                            Done
                                        </button>
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}