{% extends 'patienthistory/base.html' %}
{% block content %}

    <section class="section">
        <div class="container">
            <div class="columns is-mobile is-centered">
                <div class="column">

                    <br>
                    <div class="column">

                        <h1 class="title" style="text-align: center">
                           <strong>History of </strong> {{ username.first_name }} {{ username.last_name }}<b> <br> id : </b>{{ username.Id_card_number }}
                        </h1>
                    </div>
                    <section class="section">
                        <div class="container">
                            <div class="table-container">
                                <table class="table table is-bordered"
                                       style="border-radius:2%; margin-left: auto;margin-right: auto; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); background: rgba(255,255,255,0.4);">
                                    <thead>
                                    <tr>

                                        <th>visit Date</th>


                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for history in allhistories %}
                                        <tr>

                                            <td><b><a href="{% url 'Prescription' history.id %}">{{ history.VisitDate }}</a></b></td>

                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
{% endblock %}