{% extends 'patienthistory/base.html' %}
{% block content %}

<section class="section">
    <div class="container">
        <div class="columns is-mobile is-centered">
            <div class="column has-text-centered">

                <br>
                <div class="column">

                    <h1 class="title" style="text-align: center">
                        history of <b>name</b>
                    </h1>
                </div>
                <section class="section">
                    <div class="container">
                        <div class="table-container">
                            <table class="table table is-bordered" style="border-radius:2%; margin-left: auto;margin-right: auto; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); background: rgba(255,255,255,0.4);">
                                <thead>
                                <tr>
                                    <th>visit</th>
                                    <th>Date</th>

                                </tr>
                                </thead>

                                <tbody>
                                <tr>
                                    <th>1</th>
                                    <td><a href="https://en.wikipedia.org/wiki/Leicester_City_F.C."
                                           title="Leicester City F.C.">Leicester</a></td>
                                </tr>
                                <tr>
                                    <th>2</th>
                                    <td><a href="https://en.wikipedia.org/wiki/Arsenal_F.C." title="Arsenal F.C.">Arsenal</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>3</th>
                                    <td><a href="https://en.wikipedia.org/wiki/Tottenham_Hotspur_F.C."
                                           title="Tottenham Hotspur F.C.">Tottenham
                                        Hotspur</a></td>
                                </tr>
                                <tr>
                                    <th>4</th>
                                    <td><a href="https://en.wikipedia.org/wiki/Manchester_City_F.C."
                                           title="Manchester City F.C.">Manchester
                                        City</a></td>

                                </tr>
                                <tr>
                                    <th>5</th>
                                    <td><a href="https://en.wikipedia.org/wiki/Manchester_United_F.C."
                                           title="Manchester United F.C.">Manchester</a></td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
{% endblock %}