{% extends 'patienthistory/base.html' %}
{% block content %}

    <section class="section">
        <div class="container">
            <div class="columns is-mobile is-centered">
                <div class="column">

                    <br>
                    <div class="column">

                        <h1 class="title" style="text-align: center">
                            list of patients
                        </h1>
                    </div>
                    <section class="section">
                        <div class="container">
                            <div class="card">
                                <div class="card-content">
                                    <div class="content">
                                        <b> patient name : </b>{{ username.first_name }} {{ username.last_name }} <br>
                                        <b>patient id card :</b> {{ username.Id_card_number }} <br>
                                        <b>Prescription :</b> {{ history.Prescription }} <br>
                                        <b>Visit Date: </b> {{ history.VisitDate }} <br>
                                        {% if history.nextVisit %}
                                            <b>next Visit: </b> {{ history.nextVisit }}<br>
                                        {% endif %}
                                        {% if history.Description %}
                                            <b>Description : </b> {{ history.Description }} <br>
                                        {% endif %}
                                        {% if history.picture %}
                                            <b>picture: </b>
                                            <a href="{{ history.picture.url }}">
                                                <img class="image is-128x128"
                                                     src="{{ history.picture.url }}"
                                                     alt="Image">
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
{% endblock %}